[submodule "zm_chatgpt"]
	path = zm_chatgpt
	url = https://github.com/ZWJKFLC/zm_chatgpt.git
[submodule "zm_privateinfo"]
	path = zm_privateinfo
	url = https://github.com/ZWJKFLC/zm_privateinfo.git
[submodule "nodetest"]
	path = nodetest
	url = https://github.com/ZWJKFLC/nodetest.git
[submodule "zm_weaviate"]
	path = zm_weaviate
	url = https://github.com/ZWJKFLC/zm_weaviate.git
