[submodule "zm_chatgpt"]
	path = zm_chatgpt
	url = https://github.com/ZWJKFLC/zm_chatgpt.git
[submodule "zm_privateinfo"]
	path = zm_privateinfo
	url = https://github.com/ZWJKFLC/zm_privateinfo.git
[submodule "nodetest"]
	path = nodetest
	url = https://github.com/ZWJKFLC/nodetest.git
[submodule "zm_web"]
	path = zm_web
	url = https://github.com/ZWJKFLC/zm_web.git
[submodule "zm_LADT"]
	path = zm_LADT
	url = https://github.com/ZHAOMEIproject/zm_LADT.git
[submodule "BestProxyWallet"]
	path = BestProxyWallet
	url = https://github.com/ZWJKFLC/BestProxyWallet.git
